.backgroundContainer {
width: 50vw;
height: 100vh;
margin: auto;
}

.left, .right {
  width:50%;
  height:100%;
  float: left;
}

.left {
  background-color: #E5E7D9;
}

.right {
  background-color: #64DDCE;
}

.content {
  position: absolute;
  top: 10vh;
  left: 30vw;
  right: 30vw;
  width: 40vw;
  height: 60vw;
  text-align: center;
}

h1 {
  font-size: 14px;
  letter-spacing: 3px;
}

h2 {
  font-family: "Playfair Display";
}

h3 {
  font-size: 16px;
  letter-spacing: 6px;
}

h4 {
  font-size: 16px;
}

footer {
  color: black;
  font-size: 12px;
}

h1, h3, h4, footer {
  font-family: "Quicksand";
}

h1, h2, h3, h4, footer {
  line-height: 2px;
}

a {
  color: black;
  text-decoration:none;
}

body {
  margin: 0;
  height: 100vh;
}

#large {
  font-size: 50px;
  letter-spacing: 3px;
}

#small {
  font-size: 40px;
}
